// This is how you might override UIkit default variables
$global-primary-background: #28a5f5;

@import "~uikit/src/scss/variables-theme.scss";
@import "~uikit/src/scss/mixins-theme.scss";
@import "~uikit/src/scss/uikit-theme.scss";


.uk-navbar-nav li a,
.uk-navbar-item a,
.uk-navbar-left a {
    color: #ffffff;
}

.uk-button.uk-button-default.tm-button-default {
    border-radius: 3rem;
}

.post__img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    margin: 0 auto;
}

.chat_sms_content{
    height: 50vh;
    border: 1px solid #f4f4f4;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #28a5f5; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #28a5f5; 
  }