// This is how you might override UIkit default variables
$global-primary-background: #28a5f5;

@import "~uikit/src/scss/variables-theme.scss";
@import "~uikit/src/scss/mixins-theme.scss";
@import "~uikit/src/scss/uikit-theme.scss";


.uk-navbar-nav li a, .uk-navbar-item a, .uk-navbar-left a{
    color: #ffffff;
}   

.uk-button.uk-button-default.tm-button-default{
    border-radius: 3rem;
}